[run]
source = products,opennutrilab

[report]
show_missing = True
fail_under = 90
skip_covered = True
omit =
    */tests/*
    */migrations/*
    opennutrilab/users/adapters.py
    products/admin.py
    products/openfoodfacts/data_mapping.py
