# =========================
# Named volumes for persistence
# =========================
volumes:
  opennutrilab_local_postgres_data: {}
  opennutrilab_local_postgres_data_backups: {}
  opennutrilab_local_redis_data: {}
  opennutrilab_local_django_venv: {} # persistent venv for dev
  opennutrilab_local_node_modules: {} # persistent node_modules

# =========================
# Services
# =========================
services:
  # -------------------------
  # Django application
  # -------------------------
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: opennutrilab_local_django
    container_name: opennutrilab_local_django
    volumes:
      - opennutrilab_local_django_venv:/app/.venv # persistent virtualenv
      - ./:/app:z # bind project code
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    depends_on:
      - postgres
    ports:
      - '8000:8000'
    command: /start

  # -------------------------
  # PostgreSQL
  # -------------------------
  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: opennutrilab_production_postgres
    container_name: opennutrilab_local_postgres
    volumes:
      - opennutrilab_local_postgres_data:/var/lib/postgresql/data
      - opennutrilab_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  # -------------------------
  # Redis
  # -------------------------
  redis:
    image: redis:6
    container_name: opennutrilab_local_redis
    volumes:
      - opennutrilab_local_redis_data:/data

  # -------------------------
  # Mail testing
  # -------------------------
  mailpit:
    image: axllent/mailpit:latest
    container_name: opennutrilab_local_mailpit
    ports:
      - '8025:8025'

  # -------------------------
  # Celery worker
  # -------------------------
  celeryworker:
    <<: *django
    image: opennutrilab_local_celeryworker
    container_name: opennutrilab_local_celeryworker
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celeryworker

  # -------------------------
  # Celery beat
  # -------------------------
  celerybeat:
    <<: *django
    image: opennutrilab_local_celerybeat
    container_name: opennutrilab_local_celerybeat
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celerybeat

  # -------------------------
  # Node (frontend)
  # -------------------------
  node:
    build:
      context: .
      dockerfile: ./compose/local/node/Dockerfile
    image: opennutrilab_local_node
    container_name: opennutrilab_local_node
    depends_on:
      - django
    volumes:
      - ./:/app:z
      - opennutrilab_local_node_modules:/app/node_modules
    command: npm run dev
    ports:
      - '3000:3000'
