{% extends "base.html" %}
{% load static i18n %}
{% block title %}
    Inventory
{% endblock title %}
{% block content %}
    <h1 class="page-title">Inventory</h1>
    <div class="content-container">
        {% if food_list %}
            <table class="table table-striped">
                <tr>
                    <th>Food name</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
                {% for food in food_list %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.created_at }}</td>
                        <td>
                            <div class="btn-toolbar"
                                 role="toolbar"
                                 aria-label="Edit and Delete product">
                                <a class="btn btn-warning me-2"
                                   href="{% url 'edit_food' food.pk %}"
                                   role="button">
                                    <i class="fa-regular fa-pen-to-square"></i> Edit
                                </a>
                                <form method="post"
                                      action="{% url 'delete_food' food.pk %}"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa-regular fa-trash-can"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="{% url 'create_food' %}" role="button">Add a new product</a>
        </div>
    </div>
    <style>
    .page-title {
        margin: 30px;
    }

    .content-container {
        margin: 30px;
    }
    </style>
{% endblock content %}
