{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load form_tags static %}
{% load render_bundle from webpack_loader %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'fetch_barcode' 'js' attrs='defer' %}
{% endblock javascript %}
{% block content %}
  <div class="container-md my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card">
          <div class="card-header">
            {% if food %}
              Edit food
            {% else %}
              Create food
            {% endif %}
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% csrf_token %}
              {% if form.errors %}
                <div class="alert alert-danger">
                  <strong>Formulaire invalide :</strong>
                  {{ form.errors }}
                </div>
              {% endif %}
              {% crispy form %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
