{% comment %} https://albertoroura.com/building-a-theme-switcher-for-bootstrap/ {% endcomment %}
<li class="nav-item align-items-center d-flex">
  <div class="mode-switch">
    <button title="Use dark mode"
            id="dark"
            class="btn btn-sm btn-default text-secondary">
      <i class="bi bi-moon"></i>
    </button>
    <button title="Use light mode"
            id="light"
            class="btn btn-sm btn-default text-secondary">
      <i class="bi bi-sun"></i>
    </button>
    <button title="Use system preferred mode"
            id="system"
            class="btn btn-sm btn-default text-secondary">
      <i class="bi bi-display"></i>
    </button>
  </div>
</li>
