{% load form_tags static %}
<script src="{% static 'js/fetch_barcode.js' %}"></script>


{% for category_name, category_fields in form.fields_categories.items %}
  <li class="list-group-item">
    <span class="h6 d-block text-center text-uppercase mb-2" style="text-decoration: underline;">
      {{ category_name|capfirst }}
    </span>
    {% for field_info in category_fields %}
      {% with field=form|get_field:field_info.field_name %}
        <div class="form-group mb-3">
          <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
          <div class="input-group align-items-start">
            {% if field.name == "barcode" %}
              {{ field }}
              <button type="button" class="btn btn-outline-secondary" id="fetch-food-data">🔍 Fetch</button>
            {% elif field.name == "image" %}
                {{ field }}
                <div class="ms-3">
                  {% comment %} <img id="image-preview" src="#" alt="Preview" class="img-fluid d-none" style="max-height: 80px;">
                  <div id="image-error" class="text-danger d-none mt-2">Image not found</div> {% endcomment %}
                  {% if form.instance.image %}
                      <img src="{{ form.instance.image.url }}" alt="Image" class="img-thumbnail" style="max-width: 200px;">
                  {% elif form.product_image_url %}
                      <img src="{{ form.product_image_url }}" alt="Image" class="img-thumbnail" style="max-width: 200px;">
                  {% endif %}
                </div>
            {% else %}
              {{ field }}
            {% endif %}
            {% if category_name != "description" %}
              <span class="input-group-text">per 100g</span>
            {% endif %}
          </div>
          {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>
      {% endwith %}
    {% endfor %}
  </li>
{% endfor %}
