{% load static %}

<link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% if form.instance.image %}
  <img src="{{ form.instance.image.url }}"
       class="food-image-preview"
       alt="Image not found" />
{% elif form.fetched_image_url %}
  <img src="{{ form.fetched_image_url }}"
       class="food-image-preview"
       alt="Fetched image not found" />
{% else %}
  <img src="{% static 'images/milk-carton-svgrepo-com.png' %}"
       class="food-image-preview"
       alt="Image not found" />
{% endif %}
