{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static i18n %}
{% load render_bundle from webpack_loader %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'fetch_barcode' 'js' attrs='defer' %}
  {% render_bundle 'plotly_loader' 'js' attrs='defer' %}
{% endblock javascript %}
{% block content %}
  <div class="container-md my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card">
          <div class="card-header">
            {% if product %}
              {% translate "Edit product" %}
            {% else %}
              {% translate "Add a new product" %}
            {% endif %}
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% csrf_token %}
              {% if form.errors %}
                <div class="alert alert-danger">
                  <strong>{% translate "Invalid form" %}:</strong>
                  {{ form.errors }}
                </div>
              {% endif %}
              {% crispy form %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const plotDataUrl = "{% url 'product_plot_data' %}";
  </script>
  <script src="{% static 'products/js/product_form_macronutrients_graph.js' %}"></script>
{% endblock content %}
